{{ layout "views/layout/wrapper.vto" }}
<h1>{{it.title}}</h1>

<form action="/" method="POST">
    <input type="text" name="test" />
    <button type="submit">Submit form</button>
</form>

{{ if it.submitted }}
    <p><strong>Submitted data:</strong></p>
    <pre style="font-family: monospace;">
{{ it.submitted }}
    </pre>
{{ /if }}

{{ /layout }}