<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" type="text/css" href="/static/css/tw.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/animate.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/nprogress.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

        {{ set seo_title = `${it.title} — Kjartan Hrafnkelsson` }}

        {{ if it.language === "is" }}
            {{ set seo_description = "Ég er reyndur og ákafur framenda vefforritari frá Reykjavík, Íslandi." }}
        {{ /if }}
        
        {{ if it.language === "en" }}
            {{ set seo_description = "I am an experienced and passionate frontend developer from Reykjavík, Iceland." }}
        {{ /if }}

        <title>{{ seo_title }}</title>

        <meta name="title" content="{{ seo_title }}" />
        <meta name="description" content="{{ seo_description }}" />

        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://kjartann.is/{{ it.language }}" />
        <meta property="og:title" content="{{ seo_title }}" />
        <meta property="og:description" content="{{ seo_description }}" />

        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="https://kjartann.is/{{ it.language }}" />
        <meta property="twitter:title" content="{{ seo_title }}" />
        <meta property="twitter:description" content="{{ seo_description }}" />

        <meta name="theme-color" content="#dc2626" />

        <link rel="icon" type="image/png" href="/static/img/flags/eu.png" />

        <link rel="canonical" href="https://kjartann.is{{ it.pathname }}" />
    </head>
    <body>
        <div class="min-h-screen bg-gray-900 flex flex-col">
            <div class="py-8">
                <div class="max-w-screen-2xl mx-auto px-8">
                    <div class="flex justify-end pb-6 gap-2">
                        {{ if it.language === "is" }}
                            <a href="/en{{ it.pathname.replaceAll('/is', '') }}"><img class="h-6 w-6" src="/static/img/flags/eu.svg" alt="EU flag" /></a>
                        {{ else }}
                            <a class="cursor-not-allowed"><img class="h-6 w-6 opacity-50" src="/static/img/flags/eu.svg" alt="EU flag" /></a>
                        {{ /if }}

                        {{ if it.language === "en" }}
                            <a href="/is{{ it.pathname.replaceAll('/en', '') }}"><img class="h-6 w-6" src="/static/img/flags/is.svg" alt="Iceland flag" /></a>
                        {{ else }}
                            <a class="cursor-not-allowed"><img class="h-6 w-6 opacity-50" src="/static/img/flags/is.svg" alt="Iceland flag" /></a>
                        {{ /if }}
                    </div>
                    <div
                        id="nav-parent"
                        class="flex flex-col md:flex-row md:items-center gap-2 group"
                        data-state="false"
                    >
                        <div class="flex flex-grow-0 md:flex-grow">
                            <a href="/{{ it.language }}" class="text-2xl text-gray-200 transition duration-50 ease hover:text-white">Kjartan Hrafnkelsson</a>
                            <div class="flex-grow"></div>
                            <button
                                class="block md:hidden focus:outline-none"
                                data-toggle="#nav-parent"
                            >
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-white group-data-[state='false']:block group-data-[state='true']:hidden" viewBox="0 0 24 24" fill="currentColor"><path d="M0 0h24v24H0z" fill="none"/><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></svg>
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-white group-data-[state='false']:hidden group-data-[state='true']:block" viewBox="0 0 24 24" fill="currentColor"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M3 18h13v-2H3v2zm0-5h10v-2H3v2zm0-7v2h13V6H3zm18 9.59L17.42 12 21 8.41 19.59 7l-5 5 5 5L21 15.59z"/></svg>
                            </button>
                        </div>
                        
                        <div class="group-data-[state='false']:hidden group-data-[state='true']:flex md:flex md:group-data-[state='false']:flex flex-col md:flex-row gap-1 md:gap-8">
                            {{ set link_class = "text-lg py-2 text-gray-200 transition duration-50 ease transform hover:-translate-y-0.5 hover:text-gray-100 block font-medium" }}

                            {{ if language === "is" }}
                                <a 
                                    href="/is/um"
                                    class="{{ link_class }}"
                                >
                                    <span class="font-normal">this</span>.um();
                                </a>
                            {{ /if }}
                            
                            {{ if language === "is" }}
                                <a
                                    href="/is/verkefni"
                                    class="{{ link_class }}"
                                >
                                    <span class="font-normal">this</span>.verkefni();
                                </a>
                            {{ /if }}

                            {{ if language === "is" }}
                                <a
                                    href="/is/samband"
                                    class="text-lg text-gray-200 shadow bg-red-600 py-2 px-5 transition duration-50 ease transform hover:-translate-y-0.5 hover:opacity-80 block font-medium"
                                >
                                    <span class="font-normal">this</span>.samband();
                                </a>
                            {{ /if }}

                            {{ if language === "en" }}
                                <a 
                                    href="/en/about"
                                    class="{{ link_class }}"
                                >
                                    <span class="font-normal">this</span>.about();
                                </a>
                            {{ /if }}
                            
                            {{ if language === "en" }}
                                <a
                                    href="/en/work"
                                    class="{{ link_class }}"
                                >
                                    <span class="font-normal">this</span>.work();
                                </a>
                            {{ /if }}

                            {{ if language === "en" }}
                                <a
                                    href="/en/contact"
                                    class="text-lg text-gray-200 shadow bg-red-600 py-2 px-5 transition duration-50 ease transform hover:-translate-y-0.5 hover:opacity-80 block font-medium"
                                >
                                    <span class="font-normal">this</span>.contact();
                                </a>
                            {{ /if }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex flex-grow">
                {{ content }}
            </div>

            <div class="w-full">
                <div class="max-w-screen-2xl mx-auto px-8 py-16">
                    <div class="flex flex-col xs:flex-row justify-between gap-1">
                        <p class="text-xs text-gray-700">&copy; 2021 &mdash; {{ it.now.getUTCFullYear() }} Kjartan Hrafnkelsson</p>
                        <a
                            href="{{ it.language === "is" ? '/is/aletrun' : '/en/impressum' }}"
                            class="text-xs text-gray-700 underline"
                        >
                            {{ if it.language === "en" }}
                                Impressum
                            {{ /if }}

                            {{ if it.language === "is" }}
                                Áletrun
                            {{ /if }}
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <script src="/static/js/nprogress.min.js"></script>
        <script src="/static/js/ajax.js"></script>
        <script src="https://challenges.cloudflare.com/turnstile/v0/api.js?onload=onload_turnstile_callback"></script>
        <script>
            window.onload_turnstile_callback = () => {
                const element = document.querySelector('#cf-turnstile');
                if (!element) {
                    return;
                }

                turnstile.render("#cf-turnstile", {
                    sitekey: "{{ it.turnstile_site_key }}",
                });
            };
        </script>
    </body>
</html>
